body {
    margin: 0;
    font-family: "Bilbo", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    background-image: repeating-linear-gradient(-45deg, #232324, #232324 2px, #212121 2px, #212121 5px);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-width: 400px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background:#82796d;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #212121;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #212121;
}
/* scrollbar */


/*h1{*/
/*    color: #82796d;*/
/*    !*grey*!*/
/*}*/
/*h2{*/
/*    color: #E9C294;*/
/*}*/
/*h3{*/
/*    color: #d6b287;*/
/*}*/
/*h4{*/
/*    color: #7a6c5b;*/
/*}*/